cpp/BBSort/fast_map.h linguist-vendored=true
cpp/BBSort/min_max_heap.h linguist-vendored=true
cpp/BBSort_tests/ut.h linguist-vendored=true
cpp/BBSort_tests/qsortrand.h linguist-vendored=true
csharp/BBsort/Collections/Annotations.cs linguist-vendored=true
csharp/BBsort/Collections/CollectionDebugView.cs linguist-vendored=true
csharp/BBsort/Collections/DisposableCollection.cs linguist-vendored=true
csharp/BBsort/Collections/Extentions.cs linguist-vendored=true
csharp/BBsort/Collections/HybridBitArray.cs linguist-vendored=true
csharp/BBsort/Collections/HybridDict.cs linguist-vendored=true
csharp/BBsort/Collections/HybridBitArray.cs linguist-vendored=true
csharp/BBsort/Collections/HybridHashSet.cs linguist-vendored=true
csharp/BBsort/Collections/HybridList.cs linguist-vendored=true
csharp/BBsort/Collections/IDisposableCollection.cs linguist-vendored=true
csharp/BBsort/Collections/MinMaxHeap.cs linguist-vendored=true
csharp/BBsort/Collections/PoolList.cs linguist-vendored=true
csharp/BBsort/Collections/PoolListBase.cs linguist-vendored=true
csharp/BBsort/Collections/Queue.cs linguist-vendored=true
csharp/BBsort/Collections/ReadOnlyExt.cs linguist-vendored=true
csharp/BBSortReports/QSort.cs linguist-vendored=true